<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="accountService" class="com.baeldung.applicationcontext.AccountService">-->
<!--        <constructor-arg name="accountRepository" ref="accountRepository"/>-->
<!--    </bean>-->
    <bean id="passwordSpecialSymbolValidator" class="org.top.springdemo.util.PasswordSpecialSymbolsValidatorImpl"/>
    <bean id="passwordSizeValidator" class="org.top.springdemo.util.PasswordSizeValidatorImpl">
        <property name="passwordSize" value="7"/>
    </bean>
    <bean id="emailValidator" class="org.top.springdemo.util.EmailValidatorImp">
        <property name="validationPattern" value=".+@.+"/>
    </bean>
    <bean id="accountRegisterValidator" class="org.top.springdemo.util.AccountRegisterValidatorImpl">
        <constructor-arg name="emailValidator" ref="emailValidator"/>
        <constructor-arg name="passwordValidator" ref="passwordSpecialSymbolValidator"/>
    </bean>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/spring_db"/>
        <property name="username" value="study"/>
        <property name="password" value="1234"/>
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="maximumPoolSize" value="5"/>
    </bean>
    <bean name="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg name="configuration" ref="hikariConfig"/>
    </bean>
    <bean name="accountsDao" class="org.top.springdemo.dao.AccountsDaoImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="registerService" class="org.top.springdemo.service.RegisterService">
        <constructor-arg name="accountRegisterValidator" ref="accountRegisterValidator"/>
        <constructor-arg name="accountsDao" ref="accountsDao"/>
    </bean>




</beans>