*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #404040;
  background-color: #e0e0e0;
  font-family: Arial;
}

h1{
  margin: 20px;
}

p{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: justify;
}

sup{
  color: blue;
}
hr{
  margin: 20px;
  color: lightgray;
}

.footnote{
  color: #303030;
  font-size: 10pt;
}
