*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 0 0 2px;
}

header .title-box,
header .user-box {
  display: flex;
  align-items: center;
  padding: 5px 40px;
}

header .title-box img,
header .user-box img {
  width: 70px;
  height: 70px;
}

header .title-box p,
header .user-box p {
  padding: 10px;
}

section {
  display: flex;
  padding: 20px 50px;
}

.menu-box {
  width: 30%;
}

.incoming, .outgoing, .drafts, .spam {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
}

.incoming {
  background: lightpink;
}

.incoming img, .outgoing img, .drafts img, .spam img {
  width: 30px;
}

.incoming p, .outgoing p, .drafts p, .spam p {
  padding: 0 10px 
}

.mail-box {
}

.mail {
  display: flex;
  border-bottom: 2px solid lightgray;
  align-items: center;
  margin-left: 10px;
}

.mail .senders {
  width: 25%;
}

.mail .date {
  width: 7em;
}


.mail .peek {
  color: gray;
  height: 1em;
  overflow: hidden;
}

.mail .title {
  width: 40%;
}

.mail .icon {
  padding: 10px;
  width: 80px;
}

.mail .icon img {
  width: 20px;
}

@media screen and (max-width: 800px) { 
  .mail {
    display: grid;
    width: 500px;
    grid-template-columns: 1fr 5fr 1fr 1fr;
  }
  
  .icon:first-child {
    grid-row: 1 / span 3;
  }

  .senders {
    grid-row: 1;
    grid-column: 2 / span 2;
  }

  .title {
    grid-row: 2;
    grid-column: 2;
  }

  .peek {
    grid-row: 3;
    grid-column: 2 / span 2;
    width: 200px;
  }

  .icon:last-child {
    grid-row: 1;
    grid-column: 3;
  }

  .date {
    grid-row: 1;
    grid-column: 4;
  }
}

@media screen and (max-width: 550px) {
  .menu-box {
    width: 70px;
  }
  .menu-box p {
    visibility: hidden;
  }
}
